body
{
  background :url(img/pokemon-guide-liste-pokedex-ordre-national.jpg);
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#p
{
 text-align:left;  
 width: 100%;
 margin: 0;
 padding: 0;
}
 #navigation {
            margin-bottom: 0;
        }

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: row;
 justify-content: center;
 background-color: rgb(245, 179, 208);
}

li {
 
 border-right: 1px solid #bbb;
 margin: 0;
}

li a {
   display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
     transition: background-color 0.3s;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}

.welcome {
    margin-top: 0; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
    width: 100%; 
    
}





h1 {
 text-align: center;
}

form {
 width: 300px;
 margin: 0 auto;
 text-align: center;
}

label {
 display: block;
 margin-bottom: 5px;
}
 


th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}